**Exemplo de código usando Pandas**

Tutorial usado como base neste exemplo? 
https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html

Para carregar o pacote pandas e começar a trabalhar com ele, importe-o. O alias acordado pela comunidade para o pandas é pd, portanto, carregar o pandas como pdtal é uma prática padrão para toda a documentação do pandas.

In [9]:
import pandas as pd
print(pd.__version__)

2.3.3

**Armazenando os dados em um Dataframe**

DataFrame é uma estrutura de dados bidimensional que pode armazenar dados de diferentes tipos (incluindo caracteres, inteiros, valores de ponto flutuante, dados categóricos e muito mais) em colunas. É semelhante a uma planilha, uma tabela SQL ou a um arquivo data.frameem R.

In [10]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

# Visualizando os dados
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

Cada coluna em um DataFrame, é uma Series  
Ao selecionar uma única coluna de um pandas DataFrame, o resultado é um pandas Series.  
Para selecionar a coluna, use o rótulo da coluna entre colchetes [].

In [3]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

Você também pode criar uma series do zero.  
Um pandas Series, não tem rótulos de coluna, pois é apenas uma única coluna de uma série DataFrame.  
Uma série tem rótulos de linha.

In [4]:
ages = pd.Series([22, 35, 58], name="Age")

# Visualizando a Series
ages

0    22
1    35
2    58
Name: Age, dtype: int64

O pandas oferece muitas funcionalidades, cada uma delas um método que você pode aplicar a a DataFrameou Series.  
Como métodos são funções, não se esqueça de usar parênteses ().

In [5]:
# retorna a idade máxima do dataframe
df["Age"].max()

np.int64(58)

In [6]:
# retorna a idade minima da series
ages.min()

np.int64(22)

O método describe(), fornece uma visão geral rápida dos dados numéricos em um arquivo DataFrame.  
Como as colunas Name e Sex, são dados textuais, eles não são considerados pelo describe() método por padrão.

In [7]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [8]:
ages.describe()

count     3.000000
mean     38.333333
std      18.230012
min      22.000000
25%      28.500000
50%      35.000000
75%      46.500000
max      58.000000
Name: Age, dtype: float64